.grs{
    background: rgb(250, 250, 250);
    display: block;
    text-align: center;
    margin-top: 250px;

    }

    .arm{
        background:rgb(185, 184, 184);
        display: block ;
        text-align: center;

    }

    .b {
        display: inline-block;
        width: 500px;
        height: 100px;
        padding: 5px;
        border: 1px solid gray;
        background-color: lightgray;
        list-style: none;
        text-align: center;
        font-size: 25px;
    }

    .c {
        display: inline-block;
        width: 860px;
        height: 100px;
        padding: 5px;
        border: 1px solid gray;
        background-color: lightgray;
        list-style: none;
        text-align: center;
        font-size: 25px;
    }

    .al{
        text-align: center;
        margin-top: 300px;
    }